@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

* {
 

  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}



.btn {
  margin: 1rem 1rem 0 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  border: 1px solid #808080;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #e4e3e34d;
}
#root {
  height: 100vh;
}

#page {

  width: 100%;
  height: 100%;

  text-align: center;
  
  font-size: 1rem;
  overflow: hidden;
}


.bg-animation-gradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,78,102,1) 27%, rgba(30,129,173,1) 47%);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}


@media screen and (min-width: 320px) {
  #page {
    font-size: 3rem;
  }

  .btn {
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
  }
}

.app__brand__text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #184e66;
  font-family: sans-serif;
  margin-left: 0.5rem;
}

/* Sidebar toggle button starts */
.outer__circle {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #5f97ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer__circle::after {
  position: absolute;
  top: 0.225rem;
  left: 0.215rem;
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #fff;
}

.inner__circle {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #5f97ef;
  z-index: 100;
}

.inner__circle::after {
  position: absolute;
  top: 0.125rem;
  left: 0.15rem;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}
/* Sidebar toggle button ends */

/* Footer */

.footer {
  /* Fixing the footer at the bottom  */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

a {
  color: inherit;
}
.item1 {
  border: none;
  background-color: inherit;
  color: #6bd1f0;
  padding-left: 10px;
  font-size: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.item1:hover {
  text-decoration: none;
  color: #48976a;
}
.item1:focus {
  outline: 0;
}
.item2 {
  background: rgba(49, 49, 54, 0.993);
  color: rgb(190, 190, 190);
  margin: 1px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item3 {
  font-size: 20px;
  background: #292a30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item3:hover {
  background-color: #000000;
  transition: 0.4s;
}
.item4 {
  font-size: 20px;
  background: #25252b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item4:hover {
  background-color: #4267b2;
  transition: 0.4s;
}
.item5 {
  font-size: 20px;
  background: #202025;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item5:hover {
  background-color: #da0e0e;
  transition: 0.4s;
}

.footer-container {
  color: aliceblue;
  text-align: center;
  background-color: rgba(49, 49, 54, 0.993);
  font-size: 15px;
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 3fr 6fr 1fr 1fr 1fr;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .item1 {
      font-size: 12px;
      padding-left: 3px;
  }
  .item2 {
      font-size: 7px;
  }
  .item3,
  .item4,
  .item5 {
      font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .item1 {
      font-size: 14px;
      padding-left: 5px;
  }
  .item2 {
      font-size: 9px;
  }
  .item3,
  .item4,
  .item5 {
      font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .item1 {
      font-size: 16px;
      padding-left: 6px;
  }
  .item2 {
      font-size: 11px;
  }
  .item3,
  .item4,
  .item5 {
      font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .item1 {
      font-size: 18px;
      padding-left: 8px;
  }
  .item2 {
      font-size: 13px;
  }
  .item3,
  .item4,
  .item5 {
      font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item1 {
      font-size: 20px;
      padding-left: 10px;
  }
  .item2 {
      font-size: 15px;
  }
  .item3,
  .item4,
  .item5 {
      font-size: 20px;
  }
  .otpContainer {
    margin: 5% auto;
  }
  
  .otpInput {
    width: 3rem !important;
    height: 3rem;
    margin: 0 1rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}